<div class="page" style="{{bgStyle}}">
  <div class="images-container" style="grid-template-columns: repeat({{cols}}, 1fr); grid-template-rows: repeat({{rows}}, 1fr);">
    {{#each images}}
      <div class="photo-wrapper">
        <img src="{{url}}" alt="photo" class="photo-img" style="aspect-ratio: {{aspect}};" />
      </div>
    {{/each}}
  </div>
  {{#if text}}
    <div class="text">{{text}}</div>
  {{/if}}
</div>